/* 

body {

    background: url('/images/badass.png');
    background-repeat: no-repeat;
    background-size: 100%;
    
    
}

h2{

    color: white;
  
}
  
h3{
  
    color: goldenrod;
  
}
  
h4{
  
    color: white;
  
 }
  
p {
  
    color: white;
  
}  */