.container{

    width: 100%;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.profile-box{

    background: gold;
    text-align: center;
    padding: 40px 90px;
    color: black;
    position: relative;
    border-radius: 20px;

}

.profile-pic{

    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 6px;
    margin-top: 40px;

}

.profile-bottom{

    background: black;
    color: white;
    padding: 60px 0;
    margin-right: -90px;
    margin-left: -90px;
    margin-bottom: -40px;
    border-radius: 20px;

}
