#results{

    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    margin: auto;

}

.container{

    width: 100%;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.profile-box{

    background: gold;
    text-align: center;
    padding: 40px 90px;
    color: black;
    position: relative;
    border-radius: 20px;

}

.profile-pic{

    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 6px;
    margin-top: 40px;

}

.profile-bottom{

    background: black;
    color: white;
    padding: 60px 0;
    margin-right: -90px;
    margin-left: -90px;
    margin-bottom: -40px;
    border-radius: 20px;

}

.menu{
    position: relative;
    display: inline-block;

}

.menu-content{

    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.menu-content button{

    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.menu-content button:hover{

    background-color: gray;
    text-decoration: underline;

}

.menu:hover .menu-content{

    display: block;

}

.menu:hover .menu_button{

    background-color: silver;
    
}

/* #results{

    display: None;

} */

.profile-bottom > div{

    display: None;

}